<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/new">Add new message</a>
    <p>
      <% for(let i =0;i < messages.length; i++){ %>
        <p>
          <p>Message <%=i+1%></p>
          <p>User    : <%= messages[i].user %></p>
          <p>Message : <%= messages[i].text %></p>
          <p>Date    : <%= messages[i].added %></p>
        </p>
        <br>
      <% } %>
    </p>
  </body>
</html>
